{% extends "base.html" %}

{% block title %}-Inicio{% endblock %}

{% block content %}
<div class="cepy-bg-titulo text-center rounded text-white p-4">
    <div class="container">
        <h1 class="display-4 mb-4">
            <i class="fas fa-globe-europe"></i> CEPY
        </h1>
        <h1>
            Usuario logueado
        </h1>
    </div>
</div>

<div class="container mt-4">
    <h2 class="mb-4">📹 Cámaras</h2>

    <div class="row">
        {% for cam in camaras %}
        <div class="col-md-4 mb-3">

            <div class="card bg-secondary text-white">
                <div class="card-header text-center">
                    {{ cam.id }}
                </div>

                <img src="/cam/{{ cam.id }}" class="card-img-top" style="height:250px; object-fit:cover;">

                <div class="card-body text-center">
                    <small>{{ cam.ip }}</small>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}