{% extends "base.html" %}

{% block title %}-Inicio{% endblock %}

{% block content %}
<div class="cepy-bg-titulo text-center rounded text-white p-4">
    <div class="container">
        <h1 class="display-4 mb-4">
            <i class="fas fa-globe-europe"></i> CEPY
        </h1>
        <h1>
            Usuario logueado
        </h1>
    </div>
</div>

<div class="mt-4 text-center">
    <h1>Vista de la Webcam</h1>
    <img
            src="{{ url_for('video') }}"
            class="img-fluid rounded shadow"
            width="800"
    >

</div>
{% endblock %}